dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87b1091f-7e46-4f53-8bb5-ceb08320cc95" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="0aecea33-3efb-49b3-9d3f-f6eb8f4e4848" >
		<http:listener doc:name="Listener" doc:id="0bcde556-52bd-48db-9885-a6a7b212853d" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hello dummy!"]' doc:name="Set Payload" doc:id="54233e21-fff7-41aa-aa66-7156b93cb0bb" />
		<logger level="INFO" doc:name="Logger" doc:id="6cdaa18c-9e16-4541-8e85-731a87a08f1a" message="#[payload]"/>
	</flow>
</mule>
